<div class="my-projects centered-text">
  {% if paginated_map_objects and paginated_map_objects.items %} 
  <div class="stats-container2" id="map-object-list-container">
     {% for project in paginated_map_objects.items %} {% if project.is_mapobject %} 
     <div class="stat-box2" id="map-object-{{ project.id }}">
        <div class="project-description" style="font-weight:bold;">{{ project.descriptionwhy|safe }}</div>
        <p class="project-category">Kategorie: <strong>{{ project.category }}</strong>
        </p>
        <p class="project-date">Gepostet am: {{ project.date.strftime('%d.%m.%Y') }}</p>
        <!-- Admin actions for each project -->
        <form method="POST" action="{{ url_for('admintools') }}">
           <input type="hidden" name="project_id" value="{{ project.id }}">
           <button onclick="deleteMapObject(event, {{ project.id }});" class="register-button">Löschen</button>
        </form>
     </div>
     {% endif %} {% endfor %} 
  </div>
  {% if not paginated_map_objects.items %} 
  <p>Keine Notizen gefunden.</p>
  {% endif %} {% endif %}
  <!-- Pagination for Notizens --> {% if paginated_map_objects.pages > 1 %} 
  <nav aria-label="Notizen Page navigation" class="pagination-container" data-pagination-type="map_object">
     <ul class="pagination">
        {% if paginated_map_objects.has_prev %} 
        <li class="page-item">
           <a class="page-link ajax-pagination-link" href="{{ url_for('admintools', map_object_page=paginated_map_objects.prev_num) }}">Zurück</a>
        </li>
        {% endif %} {% for page in paginated_map_objects.iter_pages() %} 
        <li class="page-item {{ 'active' if page == paginated_map_objects.page else '' }}">
           <a class="page-link ajax-pagination-link" href="{{ url_for('admintools', map_object_page=page) }}">{{ page }}</a>
        </li>
        {% endfor %} {% if paginated_map_objects.has_next %} 
        <li class="page-item">
           <a class="page-link ajax-pagination-link" href="{{ url_for('admintools', map_object_page=paginated_map_objects.next_num) }}">Weiter</a>
        </li>
        {% endif %} 
     </ul>
  </nav>
  {% endif %}
</div>