{% extends 'base.html' %}

{% block head_section %}
    <title>Open Data - Stimmungskompass</title>
    <link rel="stylesheet" href="{{ url_for('serve_image', filename='ueber.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
{% endblock %}

{% block header %}
{% include 'partials/header/index.html' %}
{% endblock %}

{% block content %}
{% include 'ueber/ueber.html' %}
{% endblock %}

{% block footer %}
{% include 'partials/footer/index.html' %}
{% endblock %}

{% block scripts %}
{% include 'ueber/ueber.js' %}
{% endblock %}

