<div class="form-container">
    <div class="content-container">
      <section class="about-section">
        <img src="static/stimmungskompass_ueber_fullsize_insert_a1_cropped.png" alt="Stimmungskompass Überblick" style="width: 100%; border-radius:30px;">
        <h2>Nutzerbeiträge und lokale Einblicke</h2>
        <p>Der Stimmungskompass ist eine Web-App, die die Verbundenheit der Bürgerinnen und Bürger mit ihrer Stadt messen und verbessern soll. Die Hauptfunktion besteht darin, Meinungen und Eindrücke der Einwohner über ihr städtisches Umfeld zu sammeln.</p> Nachdem Nutzer ein Konto erstellt haben, können sie Einblicke in ihre bevorzugten Plätze, Freizeitorte und Erholungsgebiete in der Stadt geben. Außerdem können sie über Alltagsprobleme wie Verkehrstaus oder Gegenden, in denen sie sich unsicher fühlen, berichten. <h2>Partizipative Planung und Projektvorschläge</h2>
        <p>Im Mittelpunkt des Stimmungskompasses steht die partizipative Planung. Die Nutzer haben die Möglichkeit, Projekte vorzuschlagen, die die Lebensqualität in der Stadt verbessern sollen. Diese können von infrastrukturellen Veränderungen wie neuen Radwegen bis hin zu gemeinschaftsorientierten Initiativen reichen.</p>
        <h2>Stimmen Sie über vorgeschlagene Projekte ab</h2>
        <p>Andere Mitglieder können sich dann durch Abstimmen und Kommentieren mit diesen Vorschlägen auseinandersetzen, wodurch ein kollaboratives Umfeld gefördert wird. Diese Funktion dient nicht nur dazu, Ideen zu sammeln, sondern auch der Stadtverwaltung dabei zu helfen, die Projekte neu zu bewerten und priorisieren in Abstimmung mit den Bürgern.</p>
        <h2>Ziel: Verbesserung der Lebensqualität in der Stadt</h2>
        <p>Durch die Verbindung von Stadtverwaltung und ihren Einwohnern soll der Stimmungskompass eine Gemeinschaft schaffen, in der das gemeinsame Ziel darin besteht, die Lebensqualität in der Stadt kontinuierlich zu verbessern. Der Stimmungskompass ist eine Plattform, auf der die Stimmen der Bürgerinnen und Bürger gehört, ihre Ideen geschätzt und möglicherweise verwirklicht werden.</p>
        </p>
    </div>
  </div>
</div>