{% extends 'base.html' %}

{% block head_section %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('serve_image', filename='ueber.css') }}">
<title>Open Data - Stimmungskompass</title>
<link rel="manifest" href="{{ url_for('serve_image', filename='site.webmanifest') }}">
<link rel="icon" type="image/x-icon" href="{{ url_for('serve_image', filename='favicon.ico') }}">

{% endblock %}


{% block header %}
{% include 'partials/header/index.html' %}
{% endblock %}

{% block content %}
{% include 'privacy/privacy.html' %}
{% endblock %}

{% block footer %}
{% include 'partials/footer/index.html' %}
{% endblock %}

{% block scripts %}
{% include 'privacy/privacy.js' %}
{% endblock %}

