<div class="form-container" >
    <div class="content-container">
      <div class="navigation-links">
        <a href="#impressum-section" class="nav-link">Impressum</a>
        <a href="#toc-section" class="nav-link">Nutzungsbedingungen</a>
        <a href="#gdpr-section" class="nav-link">Datenschutzerklärung</a>
      </div>
      <section id="impressum-section" class="impressum-section">
        <h1>Impressum</h1>
        <p>
          <strong>Verantwortlich für den Inhalt:</strong>
          <br> Lukas Majer <br> Vorgartenstrasse 171/25 <br> 1020 Wien <br> Österreich <br> E-Mail: office@stimmungskompass.at
        </p>
        <h3>Haftungsausschluss:</h3>
        <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.</p>
        <h3>Urheberrecht:</h3>
        <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem österreichischen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.</p>
      </section>
      <section id="toc-section" class="toc-section">
        <h1>Willkommen auf Stimmungskompass.at</h1>
        <p>Durch die Nutzung unserer Website erklären Sie sich mit den folgenden Nutzungsbedingungen einverstanden. Bitte lesen Sie diese sorgfältig durch.</p>
        <h2>1. Geltungsbereich</h2>
        <p>Diese Nutzungsbedingungen gelten für alle Nutzer der Website Stimmungskompass.at, unabhängig davon, ob Sie Inhalte hochladen, herunterladen oder einfach nur browsen.</p>
        <h2>2. Dienstleistungsbeschreibung</h2>
        <p>Stimmungskompass.at bietet eine Plattform, auf der Nutzer Inhalte einsehen, erstellen und austauschen können. Wir behalten uns das Recht vor, die angebotenen Dienste jederzeit zu ändern oder einzustellen.</p>
        <h2>3. Registrierung</h2>
        <p>Um auf bestimmte Funktionen der Website zuzugreifen, müssen Sie sich möglicherweise registrieren und ein Konto erstellen. Sie verpflichten sich, wahrheitsgemäße und vollständige Informationen zu liefern und Ihr Konto sicher zu halten.</p>
        <h2>4. Nutzerpflichten</h2>
        <p>Sie verpflichten sich, keine rechtswidrigen, missbräuchlichen oder anderweitig unangemessenen Inhalte auf der Website zu veröffentlichen. Stimmungskompass.at behält sich das Recht vor, Inhalte ohne Vorankündigung zu entfernen.</p>
        <h2>5. Urheberrecht</h2>
        <p>Die auf Stimmungskompass.at veröffentlichten Inhalte sind durch das Urheberrecht und andere geistige Eigentumsrechte geschützt. Die Nutzung der Inhalte ist nur im Rahmen der angebotenen Funktionalitäten der Website und unter Einhaltung der Urheberrechte gestattet.</p>
        <h2>6. Haftungsausschluss</h2>
        <p>Die Nutzung der Website erfolgt auf eigenes Risiko. Stimmungskompass.at übernimmt keine Haftung für die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten Inhalte.</p>
        <h2>7. Änderung der Nutzungsbedingungen</h2>
        <p>Stimmungskompass.at behält sich das Recht vor, diese Nutzungsbedingungen jederzeit zu ändern. Die fortgesetzte Nutzung der Website nach solchen Änderungen stellt Ihre Zustimmung zu den neuen Bedingungen dar.</p>
        <h2>8. Gerichtsstand</h2>
        <p>Diese Nutzungsbedingungen unterliegen dem Recht der Republik Österreich. Gerichtsstand ist, soweit gesetzlich zulässig, der Sitz von Stimmungskompass.at.</p>
        <h2>9. Kontakt</h2>
        <p>Bei Fragen zu diesen Nutzungsbedingungen wenden Sie sich bitte an office@stimmungskompass.at.</p>
        <h3>Datum des Inkrafttretens</h3>
        <p>Diese Nutzungsbedingungen treten am 21.2.2024 in Kraft.</p>
      </section>
      <section id="gdpr-section" class="gdpr-section">
        <h1>Datenschutzerklärung nach DSGVO</h1>
        <p>
          <strong>Wir, die Betreiber von Stimmungskompass.at, nehmen den Schutz Ihrer persönlichen Daten sehr ernst</strong> und halten uns strikt an die Regeln der Datenschutzgesetze, insbesondere der Europäischen Datenschutz-Grundverordnung (DSGVO). Diese Datenschutzerklärung gibt Ihnen einen Überblick darüber, wie wir den Schutz Ihrer Daten gewährleisten und welche Art von Daten zu welchem Zweck erhoben werden.
        </p>
        <h2>Erhebung und Nutzung personenbezogener Daten</h2>
        <p>Personenbezogene Daten sind Informationen, die auf Ihre Person beziehbar sind, also Angaben, mit denen sich Ihre Identität ermitteln lässt. Wir erheben, verarbeiten und nutzen Ihre personenbezogenen Daten nur, wenn eine gesetzliche Erlaubnis besteht oder Sie uns eine Einwilligung erteilt haben.</p>
        <ul>
          <li>
            <strong>E-Mail-Adresse:</strong> Wir speichern Ihre E-Mail-Adresse, wenn Sie sich über Google bei unserer Anwendung anmelden. Diese wird ausschließlich für Interaktionen innerhalb der Anwendung genutzt.
          </li>
          <li>
            <strong>Benutzername:</strong> Bei einer Kontoerstellung ohne Google-Anbindung fordern wir Sie auf, einen Benutzernamen anzugeben. Wenn Sie sich mit Google anmelden, wird Ihr Google-Kontoname als Benutzername verwendet. Dieser Name ist für andere Nutzer sichtbar, insbesondere wenn Sie einen Projektvorschlag erstellen oder kommentieren.
          </li>
          <li>
            <strong>Telefonnummer:</strong> Falls Sie ein Konto erstellen, das nicht mit Google verbunden ist, wird Ihre Telefonnummer erfasst und sicher gespeichert. Sie dient ausschließlich der Interaktion innerhalb der Anwendung.
          </li>
          <li>
            <strong>IP-Adressen:</strong> Aus Sicherheitsgründen und zur Optimierung unseres Services speichern wir die IP-Adressen unserer Nutzer.
          </li>
        </ul>
        <h2>Rechte der betroffenen Person</h2>
        <p>Sie haben das Recht, Auskunft über die zu Ihrer Person gespeicherten Daten zu erhalten, diese berichtigen oder löschen zu lassen, die Verarbeitung einzuschränken sowie ein Recht auf Datenübertragbarkeit und Widerspruch. Zudem haben Sie das Recht, nicht ausschließlich auf einer automatisierten Verarbeitung beruhenden Entscheidungen unterworfen zu werden. Bei Fragen oder zur Ausübung Ihrer Rechte wenden Sie sich bitte an office@stimmungskompass.at. Darüber hinaus steht Ihnen das Recht zu, eine Beschwerde bei der zuständigen Aufsichtsbehörde einzureichen.</p>
        <h2>Datensicherheit</h2>
        <p>Wir verwenden technische und organisatorische Sicherheitsmaßnahmen, um Ihre Daten gegen zufällige oder vorsätzliche Manipulationen, Verlust, Zerstörung oder den Zugriff unberechtigter Personen zu schützen.</p>
        <h2>Änderungen dieser Datenschutzerklärung</h2>
        <p>Wir behalten uns vor, diese Datenschutzerklärung zu ändern, um sie an geänderte Rechtslagen oder bei Änderungen des Dienstes sowie der Datenverarbeitung anzupassen. Wir empfehlen Ihnen daher, sich regelmäßig über den Schutz Ihrer Daten zu informieren.</p>
        <h2>Kontakt</h2>
        <p>Bei Fragen zur Erhebung, Verarbeitung oder Nutzung Ihrer personenbezogenen Daten, bei Auskünften, Berichtigung, Sperrung oder Löschung von Daten sowie Widerruf erteilter Einwilligungen wenden Sie sich bitte an: office@stimmungskompass.at.</p>
        <h3>Datum des Inkrafttretens</h3>
        <p>Diese Datenschutzerklärung tritt am 21.02.2024 in Kraft.</p>
      </section>
    </div>
  </div>
</div>