{% extends 'base.html' %}
{{ current_user.is_authenticated }}

{% block head_section %} 
<title>Stimmungskompass DEMO</title>
<link rel="stylesheet" href="{{ url_for('serve_image', filename='index.css') }}">
<div id="ios-install-prompt" style="display:none;">
    <p>Stimmungskompass App verfügbar:</p>
    <p>Tippen Sie auf <img src="{{ url_for('serve_image', filename='share-icon.png') }}" alt="Teilen-Symbol">, dann "Zum Home-Bildschirm".</p>
    <button id="close-prompt">Schließen</button>
 </div>
{% endblock %}
{% block header %}
{% include '/partials/header/index.html' %}
{% endblock %}
{% block content %}
</div>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="position: absolute; width: 0; height: 0;">
    <defs>
        <filter id="text-border-filter" x="-0.2" y="-0.2" width="1.4" height="1.4">
            <feMorphology in="SourceAlpha" result="DILATED" operator="dilate" radius="4"/>
            <feFlood flood-color="#000000" result="PINK"/>
            <feComposite in="PINK" in2="DILATED" operator="in" result="OUTLINE"/>
            <feMerge>
                <feMergeNode in="OUTLINE"/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
    </defs>
</svg>
<div class="index-image">
    <img alt="Index Title Image" class="index-image lazyload" data-src="{{ url_for('serve_image', filename='index_titleimage_big.webp') }}" style="max-width: 100%; height: auto;">
    <div class="cover-text-container">
        <h1>Verschönern Sie Ihre Stadt!</h1>
        <p>Tragen Sie zu einer höheren Lebensqualität bei!</p>
    </div>
</div>
<div class="info-box-container">
    <!-- Box 1 -->
    <div class="info-box box-red" onclick="redirectToStimmungskarte()" style="cursor: pointer; margin: 10px">
        <img src="{{ url_for('serve_image', filename='index_icon_map.png', width=50) }}" alt="Map Icon" class="info-box-icon">
        <p class="info-box-title">Karte</p>
        <p class="info-box-undertitle">Posten Sie neue Notizen und sehen Sie sich andere Beiträge an, die andere Leute gepostet haben!</p>
    </div>
    <!-- Box 2 -->
    <div class="info-box box-blue" onclick="redirectToneuerbeitrag()" style="cursor: pointer; margin: 10px">
        <img alt="Public Icon" class="info-box-icon" src="{{ url_for('serve_image', filename='index_icon_public.png') }}">
        <p class="info-box-title">Machen Sie einen Vorschlag!</p>
        <p class="info-box-undertitle">Teilen Sie Ihrer Stadt mit, welche Veränderungen oder Verbesserungen Sie sich wünschen!</p>
        <p class="info-box-undertitle">Aktuelle Projektvorschläge: {{ project_count }}</p>
        <p class="info-box-undertitle">Aktuelle Notizen: {{ mapobject_count }}</p>
    </div>
    <!-- Box 3 -->
    <div class="info-box box-green" onclick="redirectToList()" style="cursor: pointer; margin: 10px">
        <img alt="List Icon" class="info-box-icon" src="{{ url_for('serve_image', filename='index_icon_list.png') }}">
        <p class="info-box-title">Aktuelle Projektvorschläge</p>
        <p class="info-box-undertitle">Stimmen Sie über Projektvorschläge ab und verhelfen Sie ihnen zum Erfolg!</p>
    </div>
</div>
<!-- Info text field with wrapped text container -->
<div class="info-text-field">
    <div class="info-text-container">
        <p class="info-text-undertitle">Der Stimmungskompass eine Plattform zur Bürgerinnen- und Bürgerbeteiligung.</p>
        <p class="info-text-undertitle">Helfen Sie der Stadt bei Entscheidungen, die das öffentliche Leben betreffen. Teilen Sie Ihre Ideen und stimmen Sie über die Projektvorschläge anderer ab tragen Sie zur Verbesserung der Lebensqualität bei.</p>
    </div>
</div>
<!-- Featured Projects Section -->
<div class="projects-header">
    <h1>Ausgewählte Projekte:</h1>
    <p>Sehen Sie sich die Projektvorschläge an, die von der Stadt als interessant ausgewählt wurden.</p>
</div>
<div class="project-list">
    {% if featured_projects %} {% for project in featured_projects %} 
    <div class="project-thumbnail" data-project-id="{{ project.id }}" onclick="window.location.href='{{ url_for('project_details', project_id=project.id) }}'">
        <h2>{{ project.name }}</h2>
        <p class="project-date">Gepostet am: {{ project.date.strftime('%d.%m.%Y') }}</p>
        <!-- Voting Bar -->
        <div class="voting-bar">
            {% if project.upvotes > 0 %} 
            <div class="upvotes" style="width: {{ project.upvote_percentage }}%;">
                <span>{{ project.upvotes }} 👍 ({{ project.upvote_percentage|round(1) }}%)</span>
            </div>
            {% endif %} {% if project.downvotes > 0 %} 
            <div class="downvotes" style="width: {{ project.downvote_percentage }}%;">
                <span>{{ project.downvotes }} 👎 ({{ project.downvote_percentage|round(1) }}%)</span>
            </div>
            {% endif %} 
        </div>
        <img src="{{ url_for('serve_image', filename='usersubmissions/' + project.image_file) }}" alt="{{ project.name }}">
        <div class="project-description">{{ project.descriptionwhy|safe }}</div>
    </div>
    {% endfor %} {% else %} 
    <p style="text-align: center;">Keine hervorgehobenen Projekte gefunden.</p>
    {% endif %} 
</div>


<!-- This div extends the background color -->
{% endblock %}

{% block footer %}
{% include '/partials/footer/index.html' %}
{% endblock %}

{% block scripts %} {% include '/index/index.js' %}{% endblock %}