<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stimmungskompass DEMO</title>
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <link rel="stylesheet" href="{{ url_for('serve_image', filename='list.css') }}">
        <link rel="manifest" href="{{ url_for('serve_image', filename='site.webmanifest') }}">
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.stimmungskompass.at/">
        <meta property="og:title" content="Stimmungskompass - Eine Plattform zur Bürgerbeteiligung">
        <meta property="og:description" content="Eine Plattform zur Bürgerbeteiligung. Engagiere dich für eine bessere Stadt!">
        <meta property="og:image" content="https://www.stimmungskompass.at/static/facebook_card.png">
        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://www.stimmungskompass.at/">
        <meta property="twitter:title" content="Stimmungskompass - Eine Plattform zur Bürgerbeteiligung">
        <meta property="twitter:description" content="Eine Plattform zur Bürgerbeteiligung. Engagiere dich für eine bessere Stadt!">
        <meta property="twitter:image" content="https://www.stimmungskompass.at/static/twitter_card.png">
        <link rel="icon" type="image/x-icon" href="{{ url_for('serve_image', filename='favicon.ico') }}">
    </head>
    <!-- Video Overlay -->
    <div class="top-bar">
        <a href="/">
        <img src="{{ url_for('serve_image', filename='logo.png') }}" alt="Logo" class="logo">
        </a>  
        <button id="hamburger-button">&#9776;</button>
        <div id="nav-overlay" class="nav-overlay">
            <div id="nav-links">
                <a href="/karte">Karte</a>
                <a href="/list">Projektvorschläge</a>
                <a href="/neuerbeitrag">Vorschlag hinzufügen</a>
                <a href="/ueber">Über</a>
                <a href="/profil">Profil</a>
                {% if current_user.is_authenticated %}
                <span class="user-info" style="margin-top: 10px;">
                Benutzer: {{ current_user.name }}
                </span>
                <a href="{{ url_for('logout', next=request.path) }}"><button class="button">Abmelden</button></a>
                {% else %}
                <a href="{{ url_for('login', next=request.path) }}"><button class="button">Anmelden</button></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="page-container">
        <div class="content-wrapper">
            <div id="video-overlay" class="video-overlay" style="display:none;">
                <iframe id="youtube-iframe" width="560" height="315" src="https://www.youtube.com/embed/uolKHGe9c4Y?si=kMLiCkfo10E" frameborder="0" allowfullscreen></iframe>
                <div id="replay-container" style="display: none;"></div>
                <!-- Container for replay image -->
                <button onclick="closeVideoOverlay()" class="register-button">Schließen</button>
            </div>
            <button id="hamburger-button-filter">&#9776; Filtern</button>
            <!-- Filtern Bar -->
            <div class="filter-bar">
                <form id="filter-form" action="{{ url_for('list_view') }}" method="get" style="display: flex; align-items: center;">
                    <div class="filter-item">
                        <label for="search">Suchen:</label>
                        <input type="text" id="search" name="search" value="{{ request.args.get('search', '') }}" placeholder="Nach Titel suchen...">
                    </div>
                    <div class="filter-item">
                        <label for="category">Kategorie:</label>
                        <select name="category" id="category">
                            <option value="">Alle Kategorien</option>
                            {% set current_category = request.args.get('category', '') %}
                            <option value="Transport" {% if current_category == 'Transport' %}selected{% endif %}>Transport</option>
                            <option value="Öffentliche Plätze" {% if current_category == 'Öffentliche Plätze' %}selected{% endif %}>Öffentliche Plätze</option>
                            <option value="Umwelt" {% if current_category == 'Umwelt' %}selected{% endif %}>Umwelt</option>
                            <option value="Verwaltung" {% if current_category == 'Verwaltung' %}selected{% endif %}>Verwaltung</option>
                            <option value="Kultur" {% if current_category == 'Kultur' %}selected{% endif %}>Kultur</option>
                            <option value="Bildung" {% if current_category == 'Bildung' %}selected{% endif %}>Bildung</option>
                            <option value="Gesundheit" {% if current_category == 'Gesundheit' %}selected{% endif %}>Gesundheit</option>
                            <option value="Sport" {% if current_category == 'Sport' %}selected{% endif %}>Sport</option>
                            <option value="Andere" {% if current_category == 'Andere' %}selected{% endif %}>Andere</option>
                        </select>
                    </div>
                    <div class="filter-item">
                        <label for="sort">Sortieren:</label>
                        <select name="sort" id="sort">
                        <option value="highest_views" {% if request.args.get('sort', '') == 'highest_views' %}selected{% endif %}>Meistgesehene zuerst</option>
                        <option value="highest" {% if request.args.get('sort', '') == 'highest' %}selected{% endif %}>Höchste Bewertung zuerst</option>
                        <option value="newest" {% if request.args.get('sort', '') == 'newest' %}selected{% endif %}>Neuester Beitrag zuerst</option>
                        <option value="oldest" {% if request.args.get('sort', '') == 'oldest' %}selected{% endif %}>Ältester Beitrag zuerst</option>
                        </select>
                    </div>
                    <button type="submit" class="filter-button">Filtern</button>
                    <a href="#" id="info-link" style="height: 100%;">
                        <!-- Set the height to 100% -->
                        <img src="{{ url_for('serve_image', filename='infobutton2.png') }}" alt="Info" class="info-image" style="margin-left: 20px">
                    </a>
                </form>
            </div>
            <div id="filter-overlay" class="nav-overlay">
                <form id="filter-form-mobile" action="{{ url_for('list_view') }}" method="get">
                    <div class="info-link-container">
                        <a href="#" id="info-link-mobile" class="info-link">
                        <img src="{{ url_for('serve_image', filename='infobutton2.png') }}" alt="Info" class="info-image">
                        </a>
                    </div>
                    <div class="filter-item">
                        <label for="search">Suchen:</label>
                        <input type="text" id="search" name="search" value="{{ request.args.get('search', '') }}" placeholder="Suche nach Projektvorschläge...">
                    </div>
                    <div class="filter-item">
                        <label for="category">Kategorie:</label>
                        <select name="category" id="category">
                            <option value="">Alle Kategorien</option>
                            {% set current_category = request.args.get('category', '') %}
                            <option value="Transport" {% if current_category == 'Transport' %}selected{% endif %}>Transport</option>
                            <option value="Öffentliche Plätze" {% if current_category == 'Öffentliche Plätze' %}selected{% endif %}>Öffentliche Plätze</option>
                            <option value="Umwelt" {% if current_category == 'Umwelt' %}selected{% endif %}>Umwelt</option>
                            <option value="Verwaltung" {% if current_category == 'Verwaltung' %}selected{% endif %}>Verwaltung</option>
                            <option value="Kultur" {% if current_category == 'Kultur' %}selected{% endif %}>Kultur</option>
                            <option value="Bildung" {% if current_category == 'Bildung' %}selected{% endif %}>Bildung</option>
                            <option value="Gesundheit" {% if current_category == 'Gesundheit' %}selected{% endif %}>Gesundheit</option>
                            <option value="Sport" {% if current_category == 'Sport' %}selected{% endif %}>Sport</option>
                            <option value="Andere" {% if current_category == 'Andere' %}selected{% endif %}>Andere</option>
                        </select>
                    </div>
                    <div class="filter-item">
                        <label for="sort">Sortieren:</label>
                        <select name="sort" id="sort">
                        <option value="highest_views" {% if request.args.get('sort', '') == 'highest_views' %}selected{% endif %}>Meistgesehene zuerst</option>
                        <option value="highest" {% if request.args.get('sort', '') == 'highest' %}selected{% endif %}>Höchste Bewertung zuerst</option>
                        <option value="newest" {% if request.args.get('sort', '') == 'newest' %}selected{% endif %}>Neuester Beitrag zuerst</option>
                        <option value="oldest" {% if request.args.get('sort', '') == 'oldest' %}selected{% endif %}>Ältester Beitrag zuerst</option>
                        </select>
                    </div>
                    <button type="submit" class="filter-button">Filtern</button>
                </form>
            </div>
            <div class="projects-header">
                <h1>Eingebrachte Projektvorschläge</h1>
                {% if projects %}
                <p>Klicken Sie auf einen Vorschlag, nähere Informationen zu sehen.</p>
                {% endif %}
            </div>
            <div class="project-list">
                {% if projects %}
                {% for project in projects %}
                <div class="project-thumbnail" data-project-id="{{ project.id }}" onclick="showOverlay('{{ project.name }}', '{{ project.description }}', '{{ project.image_file }}', '{{ project.full_description }}', '{{ project.author }}', '{{ project.date.strftime('%Y-%m-%d') }}')">
                    <h2>{{ project.name }}</h2>
                    <p class="project-date">
                        Gepostet am: <strong>{{ project.date.strftime('%d.%m.%Y') }}</strong>,
                        Ansichten: <strong>{{ project.view_count }}</strong>
                    </p>
                    <!-- Voting Bar -->
                    <div class="voting-bar">
                        {% if project.upvotes > 0 %}
                        <div class="upvotes" style="width: {{ project.upvote_percentage }}%;">
                            <span>{{ project.upvotes }} 👍 ({{ project.upvote_percentage|round(1) }}%)</span>
                        </div>
                        {% endif %}
                        {% if project.downvotes > 0 %}
                        <div class="downvotes" style="width: {{ project.downvote_percentage }}%;">
                            <span>{{ project.downvotes }} 👎 ({{ project.downvote_percentage|round(1) }}%)</span>
                        </div>
                        {% endif %}
                    </div>
                    <img src="{{ url_for('serve_image', filename='usersubmissions/' + project.image_file) }}" alt="{{ project.name }}">
                    <p>{{ project.description }}</p>
                </div>
                {% endfor %}
                {% else %}
                <p style="text-align: center;">Keine Ergebnisse gefunden. Machen Sie selbst einen Vorschlag!</p>
                {% endif %}
            </div>
        </div>
        {% if pagination.pages > 1 %}
        <div class="pagination-text" style="text-align: center; margin-top: 10px; margin-bottom: 0;">
            <strong>Seiten:</strong>
        </div>
        <nav aria-label="Page navigation" style="margin-top: 0;">
            <ul class="pagination">
                {% for page in pagination.iter_pages() %}
                {% if page %}
                {% if page != pagination.page %}
                <li class="page-item"><a class="page-link" href="{{ url_for('list_view', page=page) }}">{{ page }}</a></li>
                {% else %}
                <li class="page-item active"><span class="page-link">{{ page }}</span></li>
                {% endif %}
                {% else %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
        {% endif %}
        <!-- Overlay -->
        <div class="overlay" id="overlay">
            <div class="overlay-content">
                <span class="close-btn" onclick="closeOverlay()">&#10006;</span>
                <h2 id="overlay-title"></h2>
                <img id="overlay-image" src="" alt="">
                <p id="overlay-description"></p>
                <p>Full Description: <span id="overlay-full-description"></span></p>
                <p>Author: <span id="overlay-author"></span></p>
                <p>Date: <span id="overlay-date"></span></p>
            </div>
        </div>
        <div id="projectModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <div id="modalBody"></div>
            </div>
        </div>
    </div>
    <div class="bottom-bar" style="margin-top: 10px;">
        <p> <a href="mailto:office@stimmungskompass.at" style="color: inherit; text-decoration: underline;">office@stimmungskompass.at</a> | <a href="/privacy" style="color: inherit; text-decoration: underline;">Impressum / Datenschutz</a></p>
        <p>Stimmungskompass Demo b18c, nur zu Demonstrationszwecken</a></p>
    </div>
    </div>
    <script>
        function openModal(projectId) {
            // AJAX request to get project details
            fetch(`/project/${projectId}`)
                .then(response => response.text())
                .then(html => {
                    document.getElementById('modalBody').innerHTML = html;
                    document.getElementById('projectModal').style.display = 'block';
                });
        }
        
        function closeModal() {
            document.getElementById('projectModal').style.display = 'none';
        }
        
        // Close modal when clicking outside of it
        window.onclick = function(event) {
            const modal = document.getElementById('projectModal');
            if (event.target === modal) {
                closeModal();
            }
        }
    </script>
    <script>
        document.getElementById('hamburger-button').addEventListener('click', function() {
            var navOverlay = document.getElementById('nav-overlay');
            navOverlay.style.display = navOverlay.style.display === 'block' ? 'none' : 'block';
        });
        
        document.getElementById('hamburger-button-filter').addEventListener('click', function() {
            var filterOverlay = document.getElementById('filter-overlay');
            filterOverlay.style.display = filterOverlay.style.display === 'flex' ? 'none' : 'flex';
        });
        
        document.getElementById('filter-overlay').addEventListener('click', function(event) {
            var filterForm = document.getElementById('filter-form-mobile');
            if (!filterForm.contains(event.target)) {
                this.style.display = 'none';
            }
        });
        
        document.getElementById('filter-form-mobile').addEventListener('click', function(event) {
            event.stopPropagation();
        });
        
        document.addEventListener('click', function(event) {
            var navOverlay = document.getElementById('nav-overlay');
            var navLinks = document.getElementById('nav-links');
            var hamburgerButton = document.getElementById('hamburger-button');
        
            if (window.innerWidth <= 1080) {
                if (navOverlay.style.display === 'block' && !navOverlay.contains(event.target) && !hamburgerButton.contains(event.target)) {
                    navOverlay.style.display = 'none';
                    //console.log('nav-overlay area outside the buttons clicked, overlay closing');
                } else if (navLinks.contains(event.target)) {
                    navOverlay.style.display = 'none';
                    //console.log('nav-links area clicked, overlay closing');
                }
            }
        });
        
        document.addEventListener("DOMContentLoaded", function() {
            const urlParams = new URLSearchParams(window.location.search);
            const projectID = urlParams.get('projectID');
            if (projectID) {
                showOverlayForProjectID(projectID);
            }
        
            document.getElementById('overlay').addEventListener('click', function(event) {
                if (event.target === this) {
                    closeOverlay();
                    history.pushState(null, '', '/list');
                }
            });
        
            document.getElementById('filter-form-mobile').addEventListener('keypress', function(event) {
                if (event.keyCode === 13) { // Enter key
                    event.preventDefault();
                }
            });
        });
        
        function showOverlayForProjectID(projectID) {
            fetch('/api/project/' + projectID)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('overlay-title').textContent = data.title;
                    document.getElementById('overlay-description').textContent = data.description;
                    document.getElementById('overlay').style.display = 'flex';
                });
        }
        
        function closeOverlay() {
            document.getElementById('overlay').style.display = 'none';
        }
    </script>
    <script>
        function openProjectDetails(projectId) {
            window.location.href = '/project_details/' + projectId;
        }
        
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll('.project-thumbnail').forEach(item => {
                item.addEventListener('click', function() {
                    const projectId = this.getAttribute('data-project-id');
                    openProjectDetails(projectId);
                });
            });
        
            // Delayed search functionality for the filter form
           // document.getElementById('search').addEventListener('input', function() {
             //   clearTimeout(window.searchTimer);
               // window.searchTimer = setTimeout(function() {
                 //   document.getElementById('filter-form').submit();
                // }, 500); // Adjust delay as needed
            // });
        
            // Event listener for filter form changes
            document.getElementById('filter-form').addEventListener('change', function() {
                this.submit();
            });
        
            // Redirect functions
            function redirectToStimmungskarte() {
                window.location.href = 'https://stimmungskartendemo.ermine.at';
            }
        
            function redirectToNeuerbeitrag() {
                window.location.href = '/neuerbeitrag';
            }
        
            function redirectToneuerbeitrag() {
                window.location.href = '/neuerbeitrag';
            }
        
            // Display success message alert, if any
            {% with messages = get_flashed_messages(category_filter=["success"]) %}
                {% if messages %}
                    alert("{{ messages[0] }}");
                {% endif %}
            {% endwith %}
        });
        
    </script>
    <script>
        document.getElementById('info-link').addEventListener('click', function(e) {
            e.preventDefault(); // Prevent default link behavior
            openVideoOverlay();
        });
        
        document.querySelector('.info-link').addEventListener('click', function(e) {
            e.preventDefault();
            openVideoOverlay();
        });
        
        function openVideoOverlay() {
            var iframe = document.getElementById('youtube-iframe');
            var videoSrc;
        
            // Check screen width and set the video source accordingly
            if (window.innerWidth > 1080) {
                // Desktop video
                videoSrc = 'https://www.youtube.com/embed/kMLiCkfo10E?autoplay=1&mute=1&enablejsapi=1';
            } else {
                // Mobile video
                videoSrc = 'https://www.youtube.com/embed/bJPDBCH1KQE?autoplay=1&mute=1&enablejsapi=1';
            }
        
            iframe.src = videoSrc;
            document.getElementById('video-overlay').style.display = 'flex';
            //console.log('Video overlay opened');
        }
        
        function closeVideoOverlay() {
            var iframe = document.getElementById('youtube-iframe');
            iframe.src = ''; // Clear the iframe src
            document.getElementById('video-overlay').style.display = 'none';
            //console.log('Video overlay closed');
        }
        
        
        
        // Add an event listener to the video-overlay
        document.getElementById('video-overlay').addEventListener('click', function(event) {
            // Check if the clicked element is not the video itself
            if (!event.target.closest('#youtube-iframe, #replay-image')) {
                closeVideoOverlay();
                //console.log('Clicked outside the video, overlay closed');
            }
        });
        
        // Prevent closing when clicking on the video (event propagation)
        document.getElementById('youtube-iframe').addEventListener('click', function(event) {
            event.stopPropagation();
            //console.log('Clicked on the video, overlay remains open');
        });
        
        // Initialize YouTube API
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        
        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('youtube-iframe', {
                videoId: 'aV6s-reibEc', // Ensure the video ID is set
                events: {
                    'onStateChange': onPlayerStateChange
                }
            });
        }
        
        function onPlayerStateChange(event) {
            if (event.data === YT.PlayerState.ENDED) {
                //console.log('Video ended');
                showReplayImage();
            }
        }
        
        function showReplayImage() {
            // Hide the YouTube iframe
            var iframe = document.getElementById('youtube-iframe');
            iframe.style.display = 'none';
        
            // Display the replay container
            var replayContainer = document.getElementById('replay-container');
            replayContainer.style.display = 'flex'; 
        
            var replayImg = document.createElement('img');
            replayImg.id = 'replay-image';
            replayImg.src = '{{ url_for("static", filename="replay.png") }}';
            replayImg.addEventListener('click', replayVideo);
        
            replayContainer.innerHTML = ''; // Clear any existing content
            replayContainer.appendChild(replayImg); // Add the replay image to the container
        }
        
        
        function replayVideo() {
            //console.log('Replay clicked');
            var replayContainer = document.getElementById('replay-container');
            replayContainer.style.display = 'none'; // Hide the replay container
        
            var iframe = document.getElementById('youtube-iframe');
            iframe.style.display = 'block';
            player.seekTo(0); // Seek to the beginning of the video
            player.playVideo(); // Play the video
        }
        
        
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll('.project-thumbnail').forEach(projectThumbnail => {
                const upvotesElement = projectThumbnail.querySelector('.upvotes');
                const downvotesElement = projectThumbnail.querySelector('.downvotes');
        
                let upvotes = 0, downvotes = 0;
        
                if (upvotesElement) {
                    upvotes = parseInt(upvotesElement.textContent.match(/\d+/) ? upvotesElement.textContent.match(/\d+/)[0] : "0");
                }
        
                if (downvotesElement) {
                    downvotes = parseInt(downvotesElement.textContent.match(/\d+/) ? downvotesElement.textContent.match(/\d+/)[0] : "0");
                }
        
                // Log the project details and adjust border-radius
                if (upvotes > 0 && downvotes > 0) {
                    //console.log(`Project loaded with ${upvotes} upvotes and ${downvotes} downvotes. Adjusting border-radius.`);
                    if (upvotesElement) upvotesElement.style.borderRadius = '30px 0 0 30px';
                    if (downvotesElement) downvotesElement.style.borderRadius = '0 30px 30px 0';
                } else if (upvotes > 0 && downvotes === 0) {
                    //console.log(`Project loaded with ${upvotes} upvotes and 0 downvotes. Adjusting border-radius for upvotes.`);
                    if (upvotesElement) upvotesElement.style.borderRadius = '30px';
                } else if (downvotes > 0 && upvotes === 0) {
                    //console.log(`Project loaded with ${downvotes} downvotes and 0 upvotes. Adjusting border-radius for downvotes.`);
                    if (downvotesElement) downvotesElement.style.borderRadius = '30px';
                } else {
                    //console.log(`Project loaded with 0 upvotes and 0 downvotes. Setting border-radius to 30px on both sides.`);
                    if (upvotesElement) upvotesElement.style.borderRadius = '30px';
                    if (downvotesElement) downvotesElement.style.borderRadius = '30px';
                }
            });
        });
        
    </script>