<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('serve_image', filename='password_recovery.css') }}">
    <meta name="google-signin-client_id" content="695509729214-orede17jk35rvnou5ttbk4d6oi7oph2i.apps.googleusercontent.comLogin successful!">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
	<link rel="manifest" href="{{ url_for('serve_image', filename='site.webmanifest') }}">
	<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.stimmungskompass.at/">
<meta property="og:title" content="Stimmungskompass - Eine Plattform zur Bürgerbeteiligung">
<meta property="og:description" content="Eine Plattform zur Bürgerbeteiligung. Engagiere dich für eine bessere Stadt!">
<meta property="og:image" content="https://www.stimmungskompass.at/static/facebook_card.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.stimmungskompass.at/">
<meta property="twitter:title" content="Stimmungskompass - Eine Plattform zur Bürgerbeteiligung">
<meta property="twitter:description" content="Eine Plattform zur Bürgerbeteiligung. Engagiere dich für eine bessere Stadt!">
<meta property="twitter:image" content="https://www.stimmungskompass.at/static/twitter_card.png">
<link rel="icon" type="image/x-icon" href="{{ url_for('serve_image', filename='favicon.ico') }}">

  </head>

  <body>
    <div class="logo-container" onclick="redirectToIndex()">
      <a href="/">
        <img src="{{ url_for('serve_image', filename='logo.png') }}" alt="Logo" class="logo">
      </a>
    </div>
    <h1>Passwort zurücksetzen</h1>
    <p style="text-align: center;">Wenn Sie weitere Hilfe benötigen, wenden Sie sich an: <a href="mailto:office@stimmungskompass.at">office@stimmungskompass.at</a>
    </p>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Form for Ihre Handynummer Submission -->
    <div id="phone-form">
      <form id="phone-number-form">
        <label for="phone_number">Ihre Handynummer:</label>
        <input type="text" id="phone_number" name="phone_number" style="border-radius: 30px" required>
        <button type="submit" class="register-button" style="font-weight:bold">OTP schicken</button>
      </form>
    </div>
    <!-- OTP Verification and Password Reset Form (Hidden Initially) -->
    <div id="otp-form" style="display:none; text-align: center;">
      <form action="{{ url_for('verify_otp') }}" method="post">
        <div style="display: flex; flex-direction: column; align-items: center; margin-bottom: 10px;">
          <label for="otp">OTP:</label>
          <input type="text" id="otp" name="otp" style="border-radius: 30px; width: 80%;" required>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center; margin-bottom: 10px;">
          <label for="new_password">Neues Passwort:</label>
          <input type="password" id="new_password" name="new_password" style="border-radius: 30px; width: 80%;" required>
        </div>
        <button type="submit" class="register-button">Passwort zurücksetzen</button>
      </form>
    </div>
    <script>
      $(document).ready(function() {
        $('#phone-number-form').submit(function(e) {
          e.preventDefault();
          $.ajax({
            type: 'POST',
            url: '{{ url_for("request_otp") }}',
            data: {
              phone_number: $('#phone_number').val()
            },
            success: function(response) {
              if (response.success) {
                $('#phone-form').hide();
                $('#otp-form').show();
              } else {
                alert(response.message);
              }
            }
          });
        });
      });
    </script>
    <script>
      function redirectToIndex() {
        window.location.href = '/';
      }
    </script>
  </body>
</html>