<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passwort bestätigen</title>
    <link rel="stylesheet" href="{{ url_for('serve_image', filename='style.css') }}">
	<link rel="manifest" href="{{ url_for('serve_image', filename='site.webmanifest') }}">
	<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.stimmungskompass.at/">
<meta property="og:title" content="Stimmungskompass - Eine Plattform zur Bürgerbeteiligung">
<meta property="og:description" content="Eine Plattform zur Bürgerbeteiligung. Engagiere dich für eine bessere Stadt!">
<meta property="og:image" content="https://www.stimmungskompass.at/static/facebook_card.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.stimmungskompass.at/">
<meta property="twitter:title" content="Stimmungskompass - Eine Plattform zur Bürgerbeteiligung">
<meta property="twitter:description" content="Eine Plattform zur Bürgerbeteiligung. Engagiere dich für eine bessere Stadt!">
<meta property="twitter:image" content="https://www.stimmungskompass.at/static/twitter_card.png">
<link rel="icon" type="image/x-icon" href="{{ url_for('serve_image', filename='favicon.ico') }}">

  </head>
  <body>
    <div class="form-container">
      <h2>Passwort bestätigen</h2>
      <form action="{{ url_for('verify_otp') }}" method="post">
        <input type="text" name="otp" placeholder="Passwort eingeben" required>
        <button type="submit" class="button">Verify</button>
      </form>
    </div>
  </body>
</html>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const form = document.querySelector("form");
    form.onsubmit = function(event) {
      event.preventDefault();
      fetch("{{ url_for('verify_otp') }}", {
        method: 'POST',
        body: new FormData(form)
      }).then(response => response.json()).then(data => {
        if (data.success) {
          alert(data.message);
          window.location.href = "{{ url_for('index') }}";
        } else {
          alert(data.message);
        }
      });
    };
  });
</script>