<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('serve_image', filename='ueber.css') }}">
	<link rel="manifest" href="{{ url_for('serve_image', filename='site.webmanifest') }}">
	<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.stimmungskompass.at/">
<meta property="og:title" content="Stimmungskompass - Eine Plattform zur Bürgerbeteiligung">
<meta property="og:description" content="Eine Plattform zur Bürgerbeteiligung. Engagiere dich für eine bessere Stadt!">
<meta property="og:image" content="https://www.stimmungskompass.at/static/facebook_card.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.stimmungskompass.at/">
<meta property="twitter:title" content="Stimmungskompass - Eine Plattform zur Bürgerbeteiligung">
<meta property="twitter:description" content="Eine Plattform zur Bürgerbeteiligung. Engagiere dich für eine bessere Stadt!">
<meta property="twitter:image" content="https://www.stimmungskompass.at/static/twitter_card.png">
<link rel="icon" type="image/x-icon" href="{{ url_for('serve_image', filename='favicon.ico') }}">

    <title>Open Data - Stimmungskompass</title>
  </head>
  <body>
    <div class="top-bar">
      <a href="/">
        <img src="{{ url_for('serve_image', filename='logo.png') }}" alt="Logo" class="logo">
      </a>
      <button id="hamburger-button">&#9776;</button>
      <div id="nav-overlay" class="nav-overlay">
        <div id="nav-links">
          <a href="/karte">Karte</a>
          <a href="/list">Projektvorschläge</a>
          <a href="/neuerbeitrag">Vorschlag hinzufügen</a>
          <a href="/ueber">Über</a>
          <a href="/profil">Profil</a> {% if current_user.is_authenticated %} <span class="user-info" style="margin-top: 10px;"> Benutzer: {{ current_user.name }}
          </span>
          <a href="{{ url_for('logout', next=request.path) }}">
            <button class="button">Abmelden</button>
          </a> {% else %} <a href="{{ url_for('login', next=request.path) }}">
            <button class="button">Anmelden</button>
          </a> {% endif %}
        </div>
      </div>
    </div>
    <div class="form-container">
      <div class="content-container">
        <section class="about-section">
          <img src="static/stimmungskompass_ueber_fullsize_insert_a1_cropped.png" alt="Stimmungskompass Überblick" style="width: 100%; border-radius:30px;">
          <h2>Nutzerbeiträge und lokale Einblicke</h2>
          <p>Der Stimmungskompass ist eine Web-App, die die Verbundenheit der Bürgerinnen und Bürger mit ihrer Stadt messen und verbessern soll. Die Hauptfunktion besteht darin, Meinungen und Eindrücke der Einwohner über ihr städtisches Umfeld zu sammeln.</p> Nachdem Nutzer ein Konto erstellt haben, können sie Einblicke in ihre bevorzugten Plätze, Freizeitorte und Erholungsgebiete in der Stadt geben. Außerdem können sie über Alltagsprobleme wie Verkehrstaus oder Gegenden, in denen sie sich unsicher fühlen, berichten. <h2>Partizipative Planung und Projektvorschläge</h2>
          <p>Im Mittelpunkt des Stimmungskompasses steht die partizipative Planung. Die Nutzer haben die Möglichkeit, Projekte vorzuschlagen, die die Lebensqualität in der Stadt verbessern sollen. Diese können von infrastrukturellen Veränderungen wie neuen Radwegen bis hin zu gemeinschaftsorientierten Initiativen reichen.</p>
          <h2>Stimmen Sie über vorgeschlagene Projekte ab</h2>
          <p>Andere Mitglieder können sich dann durch Abstimmen und Kommentieren mit diesen Vorschlägen auseinandersetzen, wodurch ein kollaboratives Umfeld gefördert wird. Diese Funktion dient nicht nur dazu, Ideen zu sammeln, sondern auch der Stadtverwaltung dabei zu helfen, die Projekte neu zu bewerten und priorisieren in Abstimmung mit den Bürgern.</p>
          <h2>Ziel: Verbesserung der Lebensqualität in der Stadt</h2>
          <p>Durch die Verbindung von Stadtverwaltung und ihren Einwohnern soll der Stimmungskompass eine Gemeinschaft schaffen, in der das gemeinsame Ziel darin besteht, die Lebensqualität in der Stadt kontinuierlich zu verbessern. Der Stimmungskompass ist eine Plattform, auf der die Stimmen der Bürgerinnen und Bürger gehört, ihre Ideen geschätzt und möglicherweise verwirklicht werden.</p>
          </p>
      </div>
    </div>
    </div>
	
	<div class="bottom-bar" style="margin-top: 10px;">
<p> <a href="mailto:office@stimmungskompass.at" style="color: inherit; text-decoration: underline;">office@stimmungskompass.at</a> | <a href="/privacy" style="color: inherit; text-decoration: underline;">Impressum / Datenschutz</a></p>
<p>Stimmungskompass Demo b18c, nur zu Demonstrationszwecken</a></p>
</div>

  </body>
</html>
<script>
  // Toggle the navigation overlay when the hamburger button is clicked
  document.getElementById('hamburger-button').addEventListener('click', function() {
    var navOverlay = document.getElementById('nav-overlay');
    navOverlay.classList.toggle('nav-overlay-active');
  });
  // Close the navigation overlay when clicking on the overlay background or on a non-button element
  document.getElementById('nav-overlay').addEventListener('click', function(event) {
    // Close only if the clicked element is not a button or a link
    if (!event.target.closest('button, a')) {
      closeNavOverlay();
    }
  });
  // Function to close the navigation overlay
  function closeNavOverlay() {
    var navOverlay = document.getElementById('nav-overlay');
    navOverlay.classList.remove('nav-overlay-active');
  }
  // Prevent closing when clicking on buttons (delegation)
  document.getElementById('nav-links').addEventListener('click', function(event) {
    if (event.target.tagName === 'BUTTON' || event.target.tagName === 'A') {
      event.stopPropagation();
    }
  });
  // Resize event listener
  window.addEventListener('resize', function() {
    // Check if the window width is greater than the threshold for mobile view
    if (window.innerWidth > 1080) {
      // Make sure the nav-overlay is displayed
      document.getElementById('nav-overlay').classList.add('nav-overlay-active');
    } else {
      // For mobile view, revert back to the default behavior
      document.getElementById('nav-overlay').classList.remove('nav-overlay-active');
    }
  });
  // Call the function on page load to set the initial state
  function toggleOverlay() {
    var overlay = document.getElementById("category-choices");
    if (overlay.style.display === "none") {
      overlay.style.display = "flex";
    } else {
      overlay.style.display = "none";
    }
  }
  // JavaScript function to handle redirection to Stimmungskarte
  function redirectToStimmungskarte() {
    window.location.href = '/karte';
  }
  // JavaScript function to handle redirection to Suggest an Idea
  function redirectToList() {
    window.location.href = '/list';
  }
  // JavaScript function to handle redirection to List of Current Suggestions
  function redirectToneuerbeitrag() {
    window.location.href = '/neuerbeitrag';
  }

  function toggleMenu() {
    var x = document.getElementById("nav-links");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>