{% extends 'base.html' %}

{% block  head_section %}
<title> Stimmungskompass </title>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="static/spamFilter.js"></script>
<!-- Leaflet Draw CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" rel="stylesheet" />
<!-- Leaflet Draw JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
<!-- Heatmap plugin -->
<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Include Spectrum's CSS from CDN -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.1/spectrum.min.css" />
<!-- Include Spectrum's JavaScript from CDN -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.1/spectrum.min.js"></script>
{% endblock %}

{% block styles %} 
{% include 'karte/karte.css' %}
{% endblock %}

{% block header %} 
{% include 'partials/header/index.html' %}
{% endblock %}

{% block content %}
{% include 'karte/karte.html' %}
{% endblock %}

{% block scripts %}
{% include 'karte/karte.js' %}
{% endblock %}


