<div class="filter-bar">
    <button id="toggleDeleteAllProjects" class="c-button" data-section-id="deleteAllProjectsSection">Statistik</button>
    <button id="toggleExportSection" class="c-button" data-section-id="exportSection">Datenexport</button>
    <button id="toggleProjectProposals" class="c-button" data-section-id="projectProposalsSection">Projektvorschläge</button>
    <button id="toggleNotes" class="c-button" data-section-id="notesSection">Notizen</button>
    <button id="toggleComments" class="c-button" data-section-id="commentsSection">Kommentare</button>
    <button id="toggleImportantProjects" class="c-button" data-section-id="importantProjectsSection">Markierte Projektvorschläge</button>
    <button id="toggleReportedProjects" class="c-button" data-section-id="reportedProjectsSection">Gemeldete Projektvorschläge</button>
    <button id="toggleFeaturedProjects" class="c-button" data-section-id="featuredProjectsSection" style="display:none;">Open Ausgewählte Projektvorschläge</button>
    <button id="toggleUsers" class="c-button" data-section-id="usersSection">Benutzer</button>
 </div>
 <div class="page-container">
    <div class="content-wrapper">
       <div id="filter-overlay" class="nav-overlay" style="display:none">
          <div id="nav-links">
             <a href="#" id="toggleDeleteAllProjects" class="c-button" data-section-id="deleteAllProjectsSection">Statistik</a>
             <a href="#" id="toggleExportSection" class="c-button" data-section-id="exportSection">Datenexport</a>
             <a href="#" id="toggleProjectProposals" class="c-button" data-section-id="projectProposalsSection">Projektvorschläge</a>
             <a href="#" id="toggleNotes" class="c-button" data-section-id="notesSection">Notizen</a>
             <a href="#" id="toggleComments" class="c-button" data-section-id="commentsSection">Kommentare</a>
             <a href="#" id="toggleImportantProjects" class="c-button" data-section-id="importantProjectsSection">Markierte Projektvorschläge</a>
             <a href="#" id="toggleFeaturedProjects" class="c-button" data-section-id="featuredProjectsSection" style="display:none;">Open Ausgewählte Projektvorschläge</a>
             <a href="#" id="toggleUsers" class="c-button" data-section-id="usersSection">Benutzer</a>
          </div>
       </div>
       <button id="hamburger-button-filter">&#9776; Menu</button>
       <div id="deleteAllProjectsSection" class="delete-all-projects-section" style="display: none;">
          <div class="stats-container">
             <div class="stat-box" style="background-color: #fff3c3 !important">
                <h2>Top 5 Meistgesehene Projekte</h2>
                <ul>
                   {% for project in top_viewed_projects %} {% if project.view_count > 0 %} 
                   <li>
                      <h3>
                         <a href="{{ url_for('project_details', project_id=project.id) }}">
                         <strong>{{ project.name }}</strong>
                         </a> mit <strong>{{ project.view_count }}</strong> Aufrufen
                      </h3>
                   </li>
                   {% endif %} {% endfor %} 
                </ul>
             </div>
             <div class="stat-box" style="background-color: #ffd6a8 !important">
                <h2>Top 5 Bewertete Projekte</h2>
                <ul>
                   {% for project in top_rated_projects %} 
                   <li>
                      <h3>
                         <a href="{{ url_for('project_details',project_id=project.id) }}">
                         <strong>{{ project.name }}</strong>
                         </a> mit <strong>{{ project.upvote_count }}</strong> Stimmen
                      </h3>
                   </li>
                   {% endfor %} 
                </ul>
             </div>
             <div class="stat-box" style="background-color: #e3ffff !important">
                <h2>Top 5 Kommentierte Projekte</h2>
                <ul>
                   {% for project in top_commented_projects %} 
                   <li>
                      <h3>
                         <a href="{{ url_for('project_details', project_id=project.id) }}">
                         <strong>{{ project.name }}</strong>
                         </a> mit <strong>{{ project.comments_count }}</strong> Kommentaren
                      </h3>
                   </li>
                   {% endfor %} 
                </ul>
             </div>
             <div class="stat-box" style="background-color: #b8d5ff !important">
                <h2>Top 5 Häufigste Kategorien</h2>
                <ul>
                   {% for category, count in category_counts %} 
                   <li>
                      <h3>
                         <strong>{{ category }}</strong> mit <strong>{{ count }}</strong> Projekten
                      </h3>
                   </li>
                   {% endfor %} 
                </ul>
             </div>
             <div class="stat-box" style="background-color: #b9ea9b !important">
                <h2>Top 5 Aktivste Benutzerkonten</h2>
                <ul>
                   {% for user in active_users %} 
                   <li>
                      <h3>
                         <strong> {{ user.name }}</strong> mit <strong>{{ user.project_count }}</strong> Projekten, <strong>{{ user.map_object_count }}</strong> Kartenobjekten und <strong>{{ user.comment_count }}</strong> Kommentaren
                      </h3>
                   </li>
                   {% endfor %} 
                </ul>
             </div>
             <div class="stat-box" style="background-color: #FFA69E !important">
                <h2>Allgemeine Statistik</h2>
                <ul>
                   <li>
                      <h3>
                         <strong>Projektvorschläge:</strong> {{ project_count }}
                      </h3>
                   </li>
                   <li>
                      <h3>
                         <strong>Notizen:</strong> {{ mapobject_count }}
                      </h3>
                   </li>
                   <li>
                      <h3>
                         <strong>Kommentare:</strong> {{ comment_count }}
                      </h3>
                   </li>
                   <li>
                      <h3>
                         <strong>Benutzer:</strong> {{ user_count }}
                      </h3>
                   </li>
                   <li>
                      <h3>
                         <strong>Bookmarks:</strong> {{ bookmark_count }}
                      </h3>
                   </li>
                </ul>
             </div>
          </div>
          <div class="stats-container">
             <div class="stat-box">
                <div class="chart-container">
                   <h2>Kategorieanteil</h2>
                   <div style="margin-bottom: 10px;">
                      <span id="mostUsedCategoryText"></span>
                   </div>
                   <div>
                      <button class="mapobject-toggle active" data-filter="all">Alles</button>
                      <button class="mapobject-toggle" data-filter="false">Nur Projektvorschläge</button>
                      <button class="mapobject-toggle" data-filter="true">Nur Notizen</button>
                      <button id="togglePercentage">Show Percentages</button>
                      <!-- New Button -->
                   </div>
                   <canvas id="projectCategoryChart"></canvas>
                </div>
             </div>
             <div class="stat-box">
                <h2>Engagierte Projektvorschläge</h2>
                <p>..und ihre Kategorien.</p>
                <select id="engagedProjectsThreshold">
                   <option value="1">Über 1 Ansicht</option>
                   <option value="2">Über 2 Ansichten</option>
                   <option value="3">Über 3 Ansichten</option>
                   <option value="4">Über 4 Ansichten</option>
                   <option value="500">Über 500 Ansichten</option>
                   <option value="1000">Über 1000 Ansichten</option>
                </select>
                <button id="showEngagedProjectsList">Projektliste anzeigen</button>
                <canvas id="engagedProjectsChart"></canvas>
             </div>
             <div class="stat-box">
                <div class="chart-container">
                   <h2>Länge der Beiträge</h2>
                   <span id="averageDescriptionLengthText" class="average-description-length">Durchschnittliche Länge: 999</span>
                   <div>
                      <button class="description-length-toggle active" data-filter="all">Alles</button>
                      <button class="description-length-toggle" data-filter="true">Nur Notizen</button>
                      <button class="description-length-toggle" data-filter="false">Nur Projektvorschläge</button>
                   </div>
                   <canvas id="descriptionLengthChart"></canvas>
                </div>
             </div>
             <div class="stat-box">
                <div class="chart-container">
                   <h2>Projektvorschläge vs. Notizen</h2>
                   <canvas id="mapObjectChart"></canvas>
                </div>
             </div>
             <div class="stat-box">
                <h2>Neue Beiträge</h2>
                <div>
                   <label for="startDate">Startdatum:</label>
                   <input type="date" id="startDate">
                   <label for="endDate">Enddatum:</label>
                   <input type="date" id="endDate">
                   <div>
                      <label for="excludeMapObjects">Nur Projektvorschläge</label>
                      <input type="checkbox" id="excludeMapObjects">
                      <label for="includeMapObjects">Nur Notizen</label>
                      <input type="checkbox" id="includeMapObjects">
                      <button id="updateChart">Update</button>
                   </div>
                </div>
                <canvas id="submissionChart"></canvas>
             </div>
             <div class="stat-box">
                <h2>Projektinteraktion</h2>
                <div>
                   <label for="activityStartDate">Startdatum:</label>
                   <input type="date" id="activityStartDate">
                   <label for="activityEndDate">Enddatum:</label>
                   <input type="date" id="activityEndDate">
                   <button id="updateActivityChart">Update</button>
                </div>
                <canvas id="activityChart"></canvas>
             </div>
             <div class="stat-box">
                <h2>Projektansichten</h2>
                <div style="margin-top:57px">
                   <label for="viewsStartDate">Startdatum:</label>
                   <input type="date" id="viewsStartDate">
                   <label for="viewsEndDate">Enddatum:</label>
                   <input type="date" id="viewsEndDate">
                   <button id="updateViewsChart">Update</button>
                </div>
                <canvas id="viewsChart"></canvas>
             </div>
             <div class="stat-box">
                <h2>Unique Viewers Over Time</h2>
                <div id="viewerStats"></div>
                <div>
                   <label for="start-date">Startdatum:</label>
                   <input type="date" id="start-date" name="start-date">
                   <label for="end-date">Enddatum:</label>
                   <input type="date" id="end-date" name="end-date">
                   <button onclick="fetchDataForRange()">Update</button>
                </div>
                <canvas id="uniqueViewersChart"></canvas>
             </div>
          </div>
       </div>
       <div id="projectsOverlay" class="overlay">
          <div class="overlay-content">
             <span class="closebtn" onclick="closeOverlay()">&times;</span>
             <h2>Engagierte Projektvorschläge</h2>
             <ul id="projectsList"></ul>
          </div>
       </div>
       <div id="exportSection" style="display: none;">
          <div class="stats-container">
             <div class="stat-box2">
                <h2>Projektdaten exportieren (.xlsx / .csv)</h2>
                <form id="exportForm" method="POST" action="{{ url_for('export_projects') }}">
                   <div class="filter-options">
                      <!-- Category Selection -->
                      <div>
                         <label for="category">Wählen Sie eine Kategorie:</label>
                         <select id="category" name="category">
                            <option value="">Alle Kategorien</option>
                            <!-- Populate with actual categories -->
                         </select>
                         <button type="submit" class="register-button" onclick="submitExportForm()">.xlsx exportieren</button>
                      </div>
                   </div>
                   <!-- Date Filters -->
                   <!-- Submit Button -->
                </form>
                <form action="{{ url_for('export_csv') }}" method="get" style="margin-bottom:10px">
                   <label for="category">Wählen Sie eine Kategorie:</label>
                   <select id="category" name="category">
                      <option value="">Alle Kategorien</option>
                      {% for category in categories %} 
                      <option value="{{ category }}">{{ category }}</option>
                      {% endfor %}
                   </select>
                   <button type="submit" class="register-button">.csv exportieren</button>
                </form>
             </div>
             <div class="stat-box2">
                <h2>Alle Daten herunterladen (.json/.geojson)</h2>
                <p>Die .json enthält alle Daten außer persönlichen Benutzerdaten.</p>
                <a href="{{ url_for('download_data') }}" class="register-button" style="font-weight: bold;">.json exportieren</a>
                <form action="{{ url_for('export_gis') }}" method="get" style="margin-bottom:10px">
                   <label for="category">GIS Daten:</label>
                   <select id="category" name="category">
                      <option value="">Alle Kategorien</option>
                      {% for category in categories %} 
                      <option value="{{ category }}">{{ category }}</option>
                      {% endfor %}
                   </select>
                   <button type="submit" class="register-button">.geojson exportieren</button>
                </form>
             </div>
             <div class="stat-box2">
                <h2>Alle Beiträge löschen</h2>
                <p>Achtung: Dadurch werden alle Beiträge dauerhaft aus der Datenbank gelöscht.</p>
                <form method="POST" action="{{ url_for('delete_all_projects') }}">
                   <button type="submit" class="register-button" onclick="return confirm('Are you sure you want to Alle Projektvorschläge löschen? This action cannot be undone.');">Alle Beiträge löschen</button>
                </form>
             </div>
          </div>
       </div>
       <div id="projectProposalsSection" style="display: none;">
          <h2>Es gibt <span id="num-projects" style="color: #003056;">{{ project_count }} Projektvorschläge.</span>
          </h2>
          <div style="margin-bottom:-5px; margin-top: -20px;">
             <label for="search" style="font-weight: bold;">Suchen nach Namen:</label>
             <input type="text" id="search" value="{{ search_query }}" onkeyup="submitForm()" placeholder="Suchen..." style="margin-top:20px; margin-bottom:10px; border-radius: 20px; font-size: 16px; padding: 10px; background-color: #ffffff; border: 1px solid #ccc; outline: none; cursor: pointer;">
             <label for="sort" style="font-weight: bold;">Sortieren nach:</label>
             <select id="sort" onchange="submitForm()" style="border-radius: 20px; font-size: 16px; padding: 10px; background-color: #ffffff; border: 1px solid #ccc; outline: none; cursor: pointer; margin-bottom: 20px;">
             <option value="score_desc" {% if sort == 'score_desc' %}selected{% endif %}>Höchste Bewertung zuerst</option>
             <option value="newest" {% if sort == 'newest' %}selected{% endif %}>Neuester Beitrag</option>
             <option value="oldest" {% if sort == 'oldest' %}selected{% endif %}>Ältester Beitrag</option>
             <option value="category" {% if sort == 'category' %}selected{% endif %}>Kategorie</option>
             <option value="upvotes" {% if sort == 'upvotes' %}selected{% endif %}>Positive Bewertungen</option>
             <option value="downvotes" {% if sort == 'downvotes' %}selected{% endif %}>Negative Bewertungen</option>
             <option value="comments" {% if sort == 'comments' %}selected{% endif %}>Anzahl der Kommentare</option>
             <option value="alpha_asc" {% if sort == 'alpha_asc' %}selected{% endif %}>Titel (A-Z)</option>
             <option value="alpha_desc" {% if sort == 'alpha_desc' %}selected{% endif %}>Titel (Z-A)</option>
             </select>
          </div>
          {% with project_page=paginated_projects.page %} {% include 'partials/project_list_section.html' %} {% endwith %}
       </div>
       <div id="notesSection" style="display: none;">
          <!-- Notizens Search Input -->
          <div class="map-object-search-container">
             <h2>Es gibt <span id="num-mapobjects" style="color: #003056;">{{ mapobject_count }} Notizen.</span>
             </h2>
             <label for="searchMapObject" style="font-weight: bold;">Suchen nach Notizen:</label>
             <input type="text" id="searchMapObject" placeholder="Notizen suchen" onkeyup="searchMapObjects()" style="margin-bottom: 0px;  border-radius: 20px; font-size: 16px; padding: 10px; background-color: #ffffff; border: 1px solid #ccc; outline: none; cursor: pointer;">
          </div>
          <div class="delete-map-objects-by-date">
             <h2>Löschen von Kartenobjekten nach Datum</h2>
             <label for="deleteFromDate">Von Datum:</label>
             <input type="date" id="deleteFromDate">
             <label for="deleteToDate">Bis Datum:</label>
             <input type="date" id="deleteToDate">
             <button id="deleteMapObjectsByDateBtn" class="register-button">Löschen</button>
          </div>
          {% with paginated_map_objects=paginated_map_objects %} {% include 'partials/mapobject_list_section.html' %} {% endwith %}
       </div>
       <div id="commentsSection" style="display: none;">
          <h2>Es gibt <span id="num-comments" style="color: #003056;">{{ comment_count }} Kommentare.</span>
          </h2>
          <div class="comment-search-container">
             <label for="searchComment" style="font-weight: bold;">Kommentare suchen:</label>
             <input type="text" id="searchComment" placeholder="Kommentare suchen" onkeyup="searchComments()" style="margin-top:20px; border-radius: 20px; font-size: 16px; padding: 10px; background-color: #ffffff; border: 1px solid #ccc; outline: none; cursor: pointer;">
             <label for="searchCommentByUserId" style="font-weight: bold;">Nach Benutzer-ID suchen:</label>
             <input type="text" id="searchCommentByUserId" placeholder="Nach Benutzer-ID suchen" onkeyup="searchCommentsByUserId()" style="margin-top:20px; border-radius: 20px; font-size: 16px; padding: 10px; background-color: #ffffff; border: 1px solid #ccc; outline: none; cursor: pointer;">
          </div>
          {% with paginated_comments=paginated_comments %} {% include 'partials/comments_section.html' %} {% endwith %}
       </div>
       <div id="importantProjectsSection" style="display: none;">
          <!-- Important Projects Section -->
          <h2>Wichtige <span style="color: #003056;">Projektvorschläge</span> (Nur auf dieser Seite sichtbar) </h2>
          <div id="important-projects-list" class="project-list">
             {% for project in important_projects %} 
             <div class="project-thumbnail">
                <h3>
                   <strong>{{ project.name }}</strong>
                </h3>
                <p class="project-date"> Gepostet am: <strong>{{ project.date.strftime('%d.%m.%Y') }}</strong>, Ansichten: <strong>{{ project.view_count }}</strong>
                </p>
                <div class="voting-bar">
                   {% if project.upvotes > 0 %} 
                   <div class="upvotes" style="width: {{ project.upvote_percentage }}%;">
                      <span>{{ project.upvotes }} 👍 ({{ project.upvote_percentage|round(1) }}%)</span>
                   </div>
                   {% endif %} {% if project.downvotes > 0 %} 
                   <div class="downvotes" style="width: {{ project.downvote_percentage }}%;">
                      <span>{{ project.downvotes }} 👎 ({{ project.downvote_percentage|round(1) }}%)</span>
                   </div>
                   {% endif %} 
                </div>
                <a href="{{ url_for('project_details', project_id=project.id) }}" target="_blank">
                <img src="{{ url_for('serve_image', filename='usersubmissions/' + project.image_file) }}" alt="{{ project.name }}" class="project-image">
                </a>
                <div class="project-description">{{ project.descriptionwhy|safe }}</div>
                <form method="POST" action="{{ url_for('admintools') }}">
                   <input type="hidden" name="project_id" value="{{ project.id }}">
                   <button type="button" class="register-button" name="unmark_important" data-project-id="{{ project.id }}">Von "Wichtig" entfernen</button>
                   <a href="{{ url_for('project_details', project_id=project.id) }}" class="register-button" target="_blank">Anzeigen</a>
                </form>
             </div>
             {% else %} 
             <p>Keine Projektvorschläge gefunden.</p>
             {% endfor %} 
          </div>
          <!-- Featured Projects Section -->
          <h2>Ausgewählte <span style="color: #003056;">Projektvorschläge</span>
          </h2>
          <div id="featured-projects-list" class="project-list">
             {% for project in featured_projects %} 
             <div class="project-thumbnail">
                <h3>
                   <strong>{{ project.name }}</strong>
                </h3>
                <p class="project-date"> Gepostet am: <strong>{{ project.date.strftime('%d.%m.%Y') }}</strong>, Ansichten: <strong>{{ project.view_count }}</strong>
                </p>
                <div class="voting-bar">
                   {% if project.upvotes > 0 %} 
                   <div class="upvotes" style="width: {{ project.upvote_percentage }}%;">
                      <span>{{ project.upvotes }} 👍 ({{ project.upvote_percentage|round(1) }}%)</span>
                   </div>
                   {% endif %} {% if project.downvotes > 0 %} 
                   <div class="downvotes" style="width: {{ project.downvote_percentage }}%;">
                      <span>{{ project.downvotes }} 👎 ({{ project.downvote_percentage|round(1) }}%)</span>
                   </div>
                   {% endif %} 
                </div>
                <a href="{{ url_for('project_details', project_id=project.id) }}" target="_blank">
                <img src="{{ url_for('serve_image', filename='usersubmissions/' + project.image_file) }}" alt="{{ project.name }}" class="project-image">
                </a>
                <div class="project-description">{{ project.descriptionwhy|safe }}</div>
                <form method="POST" action="{{ url_for('admintools') }}">
                   <input type="hidden" name="project_id" value="{{ project.id }}">
                   <button type="button" class="register-button" name="unmark_featured" data-project-id="{{ project.id }}">Von "Ausgewählt" entferen</button>
                   <a href="{{ url_for('project_details', project_id=project.id) }}" class="register-button" target="_blank">Anzeigen</a>
                </form>
             </div>
             {% else %} 
             <p>Keine Projekte gefunden.</p>
             {% endfor %} 
          </div>
       </div>
       <div id="reportedProjectsSection" style="display: none;">
          <!-- Reported Projects Section -->
          <h2>Gemeldete <span style="color: #003056;">Projektvorschläge</span>
          </h2>
          <div class="project-list">
             {% for project in reported_projects %} 
             <div class="project-thumbnail">
                <h3>
                   <strong>{{ project.name }}</strong>
                </h3>
                <p class="project-date"> Gepostet am: <strong>{{ project.date.strftime('%d.%m.%Y') }}</strong>, Ansichten: <strong>{{ project.view_count }}</strong>
                </p>
                <div class="voting-bar">
                   {% if project.upvotes > 0 %} 
                   <div class="upvotes" style="width: {{ project.upvote_percentage }}%;">
                      <span>{{ project.upvotes }} 👍 ({{ project.upvote_percentage|round(1) }}%)</span>
                   </div>
                   {% endif %} {% if project.downvotes > 0 %} 
                   <div class="downvotes" style="width: {{ project.downvote_percentage }}%;">
                      <span>{{ project.downvotes }} 👎 ({{ project.downvote_percentage|round(1) }}%)</span>
                   </div>
                   {% endif %} 
                </div>
                <a href="{{ url_for('project_details', project_id=project.id) }}" target="_blank">
                <img src="{{ url_for('serve_image', filename='usersubmissions/' + project.image_file) }}" alt="{{ project.name }}" class="project-image">
                </a>
                <div class="project-description">{{ project.descriptionwhy|safe }}</div>
                <form method="POST" action="{{ url_for('admintools') }}">
                   <input type="hidden" name="action" value="remove_reports">
                   <input type="hidden" name="project_id" value="{{ project.id }}">
                   <button type="submit" class="register-button" name="remove_reports">Remove Reports</button>
                </form>
                <a href="{{ url_for('project_details', project_id=project.id) }}" class="register-button" target="_blank">Anzeigen</a>
             </div>
             {% else %} 
             <p>Keine gemeldeten Projektvorschläge gefunden.</p>
             {% endfor %} 
          </div>
       </div>
       <div id="usersSection" style="display: none;">
          <h2>Es gibt <span id="num-map-objects" style="color: #003056;">{{ user_count }} Benutzer.</span>
          </h2>
          <div class="project-list"> {% with paginated_users=paginated_users %} {% include 'partials/user_list_section.html' %} {% endwith %} </div>
       </div>
    </div>
 </div>