{% extends  'base.html' %}

{% block head_section %} 
<title>admintools</title> 
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('serve_image', filename='admintools.css') }}">
{% endblock %}

{% block header %}
    {% include 'partials/header/index.html' %}
{% endblock %}
{% block content %}
    {%  include '/admintools/admintools.html' %}
{% endblock %}
{% block footer %}
    {% include 'partials/footer/index.html' %}
{% endblock %}
{% block scripts %} {% include 'admintools/admintools.js' %} {% endblock %}