{% extends 'base.html' %}

{% block head_section %}
    <title>Project Detail</title>
    <link rel="stylesheet" href="{{ url_for('serve_image', filename='project_details.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <link rel="stylesheet" href="{{ url_for('serve_image', filename='project_details.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.3/html2canvas.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('serve_image', filename='neuerbeitrag.css') }}">

{% endblock %}

{% block header %}
{% include 'partials/header/index.html' %}
{% endblock %}

{% block content %}
{% include 'project_details/project_details.html' %}
{% endblock %}

{% block footer %}
{% include 'partials/footer/index.html' %}
{% endblock %}

{% block scripts %}
{% include 'project_details/project_details.js' %}
{% endblock %}

